numpy
monty
maggma>=0.37
pint
# required by pint if you want uncertainty propagation
uncertainties
pyEQL
# scipy required by the donnan_equilibrium method
scipy
# required by PandasStore
pandas
# required by ExcelBuilder
openpyxl